html,
body,
main {
    display: block;
    color: #333;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
}

.hidden {
    display: none;
}

nav {
    background-color: white;
}
nav .brand {
    font-size: 2em;
    font-family: 'Allura', cursive;
    word-wrap: break-word;
}
.allura {
    font-family: 'Allura', cursive;
}

.small-device {display:none;}
@media only screen and (max-width: 600px) {
    nav .brand {
        font-size: 1em;
    }
    .small-device {
        display: block;
        clear: both;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    transition: height 999999s;
    text-align: center;
    min-height: 300px;
    color: #333;
    padding: 1px 0;
    background: #b9dbff url(../../images/6e7fbb_fdbae8cac8894c0c80cb088f7ff70503_mv2_d_5000_3333_s_4_2.webp) no-repeat 50% center scroll;
    background-size: cover;
    text-align: center;
}

.hero .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.hero .content h1 {
    font-size: 300%;
}

.visual {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.blackButton {
    background: #333;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    padding-top: 3em;
    padding-bottom: 1.5em;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 5em;
    font-family: 'Allura', cursive;
}

@media only screen and (max-width: 600px) {
    .strike > span {
        font-size: 2em;
    }
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #555;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}