html,
body,
main {
    display: block;
    color: #333;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
    background-color: white;
}

.hidden {
    display: none;
}

nav {
    background-color: white;
}

nav .brand {
    font-size: 2em;
    font-family: 'Allura', cursive;
    word-wrap: break-word;
}

.allura {
    font-family: 'Allura', cursive;
}

.small-device {
    display: none;
}

.large-device {
    display: block;
}

@media only screen and (max-width: 600px) {
    nav .brand {
        font-size: 1em;
    }
    .small-device {
        display: block;
        clear: both;
    }
    .large-device {
        display: none;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    transition: height 999999s;
    text-align: center;
    min-height: 300px;
    color: #333;
    padding: 1px 0;
    background: #b9dbff url(../../images/examples/003.jpg) no-repeat 50% center scroll;
    background-size: cover;
    text-align: center;
}

.hero .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.hero .content h1 {
    font-size: 300%;
}

.visual {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
}

.blackButton {
    background: #333;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

.strike>span {
    position: relative;
    display: inline-block;
    font-size: 5em;
    font-family: 'Allura', cursive;
}

@media only screen and (max-width: 600px) {
    .strike>span {
        font-size: 2em;
    }
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #555;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

.center-div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.content {
    padding-left: 2%;
    padding-right: 2%;
}

.grid-photo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: start;
}

.grid-photo img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 200px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.header,
.footer {
    flex: 1 100%;
}

.flex-col {
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .flex-col {
        flex: 1 100%;
    }
}
